* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  position: relative;
}

#contact_modal {
  display: none;
  position: fixed;
  top: 40px;
  left: 30%;
  width: 670px;
  height: 900px;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 1001;
  display: none;
}
.lightbox header img {
  position: absolute;
  cursor: pointer;
  right: 20px;
}
.media_vue {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.media_vue img {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.contact_modal .contact_button:hover {
  background-color: #901c1c;
  opacity: 0.8;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header .contact_button:hover {
  background-color: #db8876;
}
.photograph-header .contact_button:focus {
  background-color: #db8876;
}

form .contact_button:hover {
  background-color: #901c1c;
  opacity: 0.8;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 35px 35px;
}

.modal header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
}

.modal header img {
  cursor: pointer;
  margin-top: 20px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  color: #312e2e;
  font-size: 36px;
}
form textarea {
  width: 100%;
  height: 140px;
  border: none;
  border-radius: 5px;
  color: #312e2e;
  font-size: 36px;
}
.photographer_media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 2em;
  margin: 0px 100px 50px;
}
.photographer_media .media {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 30%;
}

.photographer_media img,
.photographer_media video {
  border-radius: 5px;
  object-fit: cover;
  height: 300px;
}
.info_container {
  display: flex;
  justify-content: space-between;
}
.title_picture {
  color: #901c1c;
  font-size: 24px;
}
.like_container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.like_container img {
  width: 18px;
  height: 18px;
}

.like_container .liked {
  color: #901c1c;
  font-weight: bold;
}

.sort_media {
  margin: 20px 100px 60px 100px;
}
.sort_media label {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.sort_media select {
  color: #ffffff;
  background-color: #901c1c;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.sort_media select:focus {
  outline: none;
}

.photograph-info h2 {
  color: #d3573c;
  font-size: 64px;
}

.photograph-info .location {
  color: #901c1c;
  font-size: 24px;
}
.photograph-info .descrption {
  color: #525252;
  font-size: 18px;
}
#like_counter_and_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  right: 30px;
  width: 340px;
  padding: 10px 20px;
  background-color: #db8876;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  z-index: 1000;
}
#like_counter {
  display: flex;
  align-items: center;
  gap: 0.8em;
}
#like_counter img {
  width: 18px;
  height: 18px;
}
.media_zoom {
  width: 80vw;
  height: 85vh;
  border-radius: 5px;
  box-shadow: 11px 1px 15px 5px rgba(0, 0, 0, 0.23);
}
.media_zoom img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
  cursor: auto;
}
.media_zoom video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: auto;
}
